node_red_draft_import
[{"id":"6040d313.d8720c","type":"tab","label":"Rescuers","disabled":false,"info":""},{"id":"ace40488.69b1b8","type":"mqtt in","z":"6040d313.d8720c","name":"Thermal Imaging","topic":"","qos":"2","datatype":"auto","broker":"","x":250,"y":140,"wires":[["b9c60352.5d36"]]},{"id":"f5139a73.794388","type":"comment","z":"6040d313.d8720c","name":"Detects fall (axis)","info":"_","x":80,"y":140,"wires":[]},{"id":"e5deef78.6cdb9","type":"watson-speech-to-text","z":"6040d313.d8720c","name":"Speech trigger","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":260,"y":220,"wires":[["b9c60352.5d36"]]},{"id":"b9c60352.5d36","type":"function","z":"6040d313.d8720c","name":"If event = True, send message","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["c621e334.ac209"]]},{"id":"c621e334.ac209","type":"template","z":"6040d313.d8720c","name":"Call centre","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":770,"y":220,"wires":[["2a081135.cc0c0e","237627a.4126dd8"]]},{"id":"83a115f9.09f398","type":"comment","z":"6040d313.d8720c","name":"Detects distress","info":"","x":80,"y":220,"wires":[]},{"id":"33d256ed.71332a","type":"mqtt out","z":"6040d313.d8720c","name":"Opens door","topic":"","qos":"","retain":"","broker":"","x":670,"y":400,"wires":[]},{"id":"2a081135.cc0c0e","type":"function","z":"6040d313.d8720c","name":"myresponder App","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["1418e32.364881d"]]},{"id":"1418e32.364881d","type":"function","z":"6040d313.d8720c","name":"Send message to all CFR within 400m","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["3fd75c29.fdd5b4"]]},{"id":"3fd75c29.fdd5b4","type":"function","z":"6040d313.d8720c","name":"Send special token to CFR that accepts task to unlock door using Blockchain","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["33d256ed.71332a","237627a.4126dd8"]]},{"id":"237627a.4126dd8","type":"function","z":"6040d313.d8720c","name":"Receive instructions from Call centre e.g. How to CPR","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":280,"wires":[[]]},{"id":"80b35d7b.26485","type":"mqtt in","z":"6040d313.d8720c","name":"Smoke detector","topic":"","qos":"2","datatype":"auto","broker":"","x":240,"y":60,"wires":[["b9c60352.5d36"]]},{"id":"24d29f4d.88efb","type":"comment","z":"6040d313.d8720c","name":"Detects fire","info":"_","x":70,"y":60,"wires":[]}]
